Slots ​This page assumes you've already read the Components Basics. Read that first if you are new to components.Watch a free video lesson on Vue SchoolSlot Content and Outlet ​We have learned that components can accept props, which can be JavaScript values of any type. But how about template content? In some cases, we may want to pass a template fragment to a child component, and let the child component render the fragment within its own template.For example, we may have a &lt;FancyButton&gt; component that supports usage like this:template&lt;FancyButton&gt;
  Click me! &lt;!-- slot content --&gt;
&lt;/FancyButton&gt;
The template of &lt;FancyButton&gt; looks like this:template&lt;button class="fancy-btn"&gt;
  &lt;slot&gt;&lt;/slot&gt; &lt;!-- slot outlet --&gt;
&lt;/button&gt;
The &lt;slot&gt; element is a slot outlet that indicates where the parent-provided slot content should be rendered.And the final rendered DOM:html&lt;button class="fancy-btn"&gt;Click me!&lt;/button&gt;
Try it in the PlaygroundTry it in the PlaygroundWith slots, the &lt;FancyButton&gt; is responsible for rendering the outer &lt;button&gt; (and its fancy styling), while the inner content is provided by the parent component.Another way to understand slots is by comparing them to JavaScript functions:js// parent component passing slot content
FancyButton('Click me!')

// FancyButton renders slot content in its own template
function FancyButton(slotContent) {
  return `&lt;button class="fancy-btn"&gt;
      ${slotContent}
    &lt;/button&gt;`
}
Slot content is not just limited to text. It can be any valid template content. For example, we can pass in multiple elements, or even other components:template&lt;FancyButton&gt;
  &lt;span style="color:red"&gt;Click me!&lt;/span&gt;
  &lt;AwesomeIcon name="plus" /&gt;
&lt;/FancyButton&gt;
Try it in the PlaygroundTry it in the PlaygroundBy using slots, our &lt;FancyButton&gt; is more flexible and reusable. We can now use it in different places with different inner content, but all with the same fancy styling.Vue components' slot mechanism is inspired by the native Web Component &lt;slot&gt; element, but with additional capabilities that we will see later.Render Scope ​Slot content has access to the data scope of the parent component, because it is defined in the parent. For example:template&lt;span&gt;{{ message }}&lt;/span&gt;
&lt;FancyButton&gt;{{ message }}&lt;/FancyButton&gt;
Here both {{ message }} interpolations will render the same content.Slot content does not have access to the child component's data. Expressions in Vue templates can only access the scope it is defined in, consistent with JavaScript's lexical scoping. In other words:Expressions in the parent template only have access to the parent scope; expressions in the child template only have access to the child scope.Fallback Content ​There are cases when it's useful to specify fallback (i.e. default) content for a slot, to be rendered only when no content is provided. For example, in a &lt;SubmitButton&gt; component:template&lt;button type="submit"&gt;
  &lt;slot&gt;&lt;/slot&gt;
&lt;/button&gt;
We might want the text "Submit" to be rendered inside the &lt;button&gt; if the parent didn't provide any slot content. To make "Submit" the fallback content, we can place it in between the &lt;slot&gt; tags:template&lt;button type="submit"&gt;
  &lt;slot&gt;
    Submit &lt;!-- fallback content --&gt;
  &lt;/slot&gt;
&lt;/button&gt;
Now when we use &lt;SubmitButton&gt; in a parent component, providing no content for the slot:template&lt;SubmitButton /&gt;
This will render the fallback content, "Submit":html&lt;button type="submit"&gt;Submit&lt;/button&gt;
But if we provide content:template&lt;SubmitButton&gt;Save&lt;/SubmitButton&gt;
Then the provided content will be rendered instead:html&lt;button type="submit"&gt;Save&lt;/button&gt;
Try it in the PlaygroundTry it in the PlaygroundNamed Slots ​There are times when it's useful to have multiple slot outlets in a single component. For example, in a &lt;BaseLayout&gt; component with the following template:template&lt;div class="container"&gt;
  &lt;header&gt;
    &lt;!-- We want header content here --&gt;
  &lt;/header&gt;
  &lt;main&gt;
    &lt;!-- We want main content here --&gt;
  &lt;/main&gt;
  &lt;footer&gt;
    &lt;!-- We want footer content here --&gt;
  &lt;/footer&gt;
&lt;/div&gt;
For these cases, the &lt;slot&gt; element has a special attribute, name, which can be used to assign a unique ID to different slots so you can determine where content should be rendered:template&lt;div class="container"&gt;
  &lt;header&gt;
    &lt;slot name="header"&gt;&lt;/slot&gt;
  &lt;/header&gt;
  &lt;main&gt;
    &lt;slot&gt;&lt;/slot&gt;
  &lt;/main&gt;
  &lt;footer&gt;
    &lt;slot name="footer"&gt;&lt;/slot&gt;
  &lt;/footer&gt;
&lt;/div&gt;
A &lt;slot&gt; outlet without name implicitly has the name "default".In a parent component using &lt;BaseLayout&gt;, we need a way to pass multiple slot content fragments, each targeting a different slot outlet. This is where named slots come in.To pass a named slot, we need to use a &lt;template&gt; element with the v-slot directive, and then pass the name of the slot as an argument to v-slot:template&lt;BaseLayout&gt;
  &lt;template v-slot:header&gt;
    &lt;!-- content for the header slot --&gt;
  &lt;/template&gt;
&lt;/BaseLayout&gt;
v-slot has a dedicated shorthand #, so &lt;template v-slot:header&gt; can be shortened to just &lt;template #header&gt;. Think of it as "render this template fragment in the child component's 'header' slot".Here's the code passing content for all three slots to &lt;BaseLayout&gt; using the shorthand syntax:template&lt;BaseLayout&gt;
  &lt;template #header&gt;
    &lt;h1&gt;Here might be a page title&lt;/h1&gt;
  &lt;/template&gt;

  &lt;template #default&gt;
    &lt;p&gt;A paragraph for the main content.&lt;/p&gt;
    &lt;p&gt;And another one.&lt;/p&gt;
  &lt;/template&gt;

  &lt;template #footer&gt;
    &lt;p&gt;Here's some contact info&lt;/p&gt;
  &lt;/template&gt;
&lt;/BaseLayout&gt;
When a component accepts both a default slot and named slots, all top-level non-&lt;template&gt; nodes are implicitly treated as content for the default slot. So the above can also be written as:template&lt;BaseLayout&gt;
  &lt;template #header&gt;
    &lt;h1&gt;Here might be a page title&lt;/h1&gt;
  &lt;/template&gt;

  &lt;!-- implicit default slot --&gt;
  &lt;p&gt;A paragraph for the main content.&lt;/p&gt;
  &lt;p&gt;And another one.&lt;/p&gt;

  &lt;template #footer&gt;
    &lt;p&gt;Here's some contact info&lt;/p&gt;
  &lt;/template&gt;
&lt;/BaseLayout&gt;
Now everything inside the &lt;template&gt; elements will be passed to the corresponding slots. The final rendered HTML will be:html&lt;div class="container"&gt;
  &lt;header&gt;
    &lt;h1&gt;Here might be a page title&lt;/h1&gt;
  &lt;/header&gt;
  &lt;main&gt;
    &lt;p&gt;A paragraph for the main content.&lt;/p&gt;
    &lt;p&gt;And another one.&lt;/p&gt;
  &lt;/main&gt;
  &lt;footer&gt;
    &lt;p&gt;Here's some contact info&lt;/p&gt;
  &lt;/footer&gt;
&lt;/div&gt;
Try it in the PlaygroundTry it in the PlaygroundAgain, it may help you understand named slots better using the JavaScript function analogy:js// passing multiple slot fragments with different names
BaseLayout({
  header: `...`,
  default: `...`,
  footer: `...`
})

// &lt;BaseLayout&gt; renders them in different places
function BaseLayout(slots) {
  return `&lt;div class="container"&gt;
      &lt;header&gt;${slots.header}&lt;/header&gt;
      &lt;main&gt;${slots.default}&lt;/main&gt;
      &lt;footer&gt;${slots.footer}&lt;/footer&gt;
    &lt;/div&gt;`
}
Dynamic Slot Names ​Dynamic directive arguments also work on v-slot, allowing the definition of dynamic slot names:template&lt;base-layout&gt;
  &lt;template v-slot:[dynamicSlotName]&gt;
    ...
  &lt;/template&gt;

  &lt;!-- with shorthand --&gt;
  &lt;template #[dynamicSlotName]&gt;
    ...
  &lt;/template&gt;
&lt;/base-layout&gt;
Do note the expression is subject to the syntax constraints of dynamic directive arguments.Scoped Slots ​As discussed in Render Scope, slot content does not have access to state in the child component.However, there are cases where it could be useful if a slot's content can make use of data from both the parent scope and the child scope. To achieve that, we need a way for the child to pass data to a slot when rendering it.In fact, we can do exactly that - we can pass attributes to a slot outlet just like passing props to a component:template&lt;!-- &lt;MyComponent&gt; template --&gt;
&lt;div&gt;
  &lt;slot :text="greetingMessage" :count="1"&gt;&lt;/slot&gt;
&lt;/div&gt;
Receiving the slot props is a bit different when using a single default slot vs. using named slots. We are going to show how to receive props using a single default slot first, by using v-slot directly on the child component tag:template&lt;MyComponent v-slot="slotProps"&gt;
  {{ slotProps.text }} {{ slotProps.count }}
&lt;/MyComponent&gt;
Try it in the PlaygroundTry it in the PlaygroundThe props passed to the slot by the child are available as the value of the corresponding v-slot directive, which can be accessed by expressions inside the slot.You can think of a scoped slot as a function being passed into the child component. The child component then calls it, passing props as arguments:jsMyComponent({
  // passing the default slot, but as a function
  default: (slotProps) =&gt; {
    return `${slotProps.text} ${slotProps.count}`
  }
})

function MyComponent(slots) {
  const greetingMessage = 'hello'
  return `&lt;div&gt;${
    // call the slot function with props!
    slots.default({ text: greetingMessage, count: 1 })
  }&lt;/div&gt;`
}
In fact, this is very close to how scoped slots are compiled, and how you would use scoped slots in manual render functions.Notice how v-slot="slotProps" matches the slot function signature. Just like with function arguments, we can use destructuring in v-slot:template&lt;MyComponent v-slot="{ text, count }"&gt;
  {{ text }} {{ count }}
&lt;/MyComponent&gt;
Named Scoped Slots ​Named scoped slots work similarly - slot props are accessible as the value of the v-slot directive: v-slot:name="slotProps". When using the shorthand, it looks like this:template&lt;MyComponent&gt;
  &lt;template #header="headerProps"&gt;
    {{ headerProps }}
  &lt;/template&gt;

  &lt;template #default="defaultProps"&gt;
    {{ defaultProps }}
  &lt;/template&gt;

  &lt;template #footer="footerProps"&gt;
    {{ footerProps }}
  &lt;/template&gt;
&lt;/MyComponent&gt;
Passing props to a named slot:template&lt;slot name="header" message="hello"&gt;&lt;/slot&gt;
Note the name of a slot won't be included in the props because it is reserved - so the resulting headerProps would be { message: 'hello' }.If you are mixing named slots with the default scoped slot, you need to use an explicit &lt;template&gt; tag for the default slot. Attempting to place the v-slot directive directly on the component will result in a compilation error. This is to avoid any ambiguity about the scope of the props of the default slot. For example:template&lt;!-- This template won't compile --&gt;
&lt;template&gt;
  &lt;MyComponent v-slot="{ message }"&gt;
    &lt;p&gt;{{ message }}&lt;/p&gt;
    &lt;template #footer&gt;
      &lt;!-- message belongs to the default slot, and is not available here --&gt;
      &lt;p&gt;{{ message }}&lt;/p&gt;
    &lt;/template&gt;
  &lt;/MyComponent&gt;
&lt;/template&gt;
Using an explicit &lt;template&gt; tag for the default slot helps to make it clear that the message prop is not available inside the other slot:template&lt;template&gt;
  &lt;MyComponent&gt;
    &lt;!-- Use explicit default slot --&gt;
    &lt;template #default="{ message }"&gt;
      &lt;p&gt;{{ message }}&lt;/p&gt;
    &lt;/template&gt;

    &lt;template #footer&gt;
      &lt;p&gt;Here's some contact info&lt;/p&gt;
    &lt;/template&gt;
  &lt;/MyComponent&gt;
&lt;/template&gt;
Fancy List Example ​You may be wondering what would be a good use case for scoped slots. Here's an example: imagine a &lt;FancyList&gt; component that renders a list of items - it may encapsulate the logic for loading remote data, using the data to display a list, or even advanced features like pagination or infinite scrolling. However, we want it to be flexible with how each item looks and leave the styling of each item to the parent component consuming it. So the desired usage may look like this:template&lt;FancyList :api-url="url" :per-page="10"&gt;
  &lt;template #item="{ body, username, likes }"&gt;
    &lt;div class="item"&gt;
      &lt;p&gt;{{ body }}&lt;/p&gt;
      &lt;p&gt;by {{ username }} | {{ likes }} likes&lt;/p&gt;
    &lt;/div&gt;
  &lt;/template&gt;
&lt;/FancyList&gt;
Inside &lt;FancyList&gt;, we can render the same &lt;slot&gt; multiple times with different item data (notice we are using v-bind to pass an object as slot props):template&lt;ul&gt;
  &lt;li v-for="item in items"&gt;
    &lt;slot name="item" v-bind="item"&gt;&lt;/slot&gt;
  &lt;/li&gt;
&lt;/ul&gt;
Try it in the PlaygroundTry it in the PlaygroundRenderless Components ​The &lt;FancyList&gt; use case we discussed above encapsulates both reusable logic (data fetching, pagination etc.) and visual output, while delegating part of the visual output to the consumer component via scoped slots.If we push this concept a bit further, we can come up with components that only encapsulate logic and do not render anything by themselves - visual output is fully delegated to the consumer component with scoped slots. We call this type of component a Renderless Component.An example renderless component could be one that encapsulates the logic of tracking the current mouse position:template&lt;MouseTracker v-slot="{ x, y }"&gt;
  Mouse is at: {{ x }}, {{ y }}
&lt;/MouseTracker&gt;
Try it in the PlaygroundTry it in the PlaygroundWhile an interesting pattern, most of what can be achieved with Renderless Components can be achieved in a more efficient fashion with Composition API, without incurring the overhead of extra component nesting. Later, we will see how we can implement the same mouse tracking functionality as a Composable.That said, scoped slots are still useful in cases where we need to both encapsulate logic and compose visual output, like in the &lt;FancyList&gt; example.Edit this page on GitHub